.furniture1,
.l-a-n {
  position: absolute;
  font-family: var(--font-inter);
  color: var(--color-steelblue-100);
  text-align: center;
}
.furniture1 {
  top: 49px;
  left: 123px;
  font-size: 128px;
  font-weight: 600;
  display: inline-block;
  width: 722px;
}
.l-a-n {
  top: 256px;
  left: 78px;
  font-size: 48px;
  font-weight: 300;
  white-space: pre-wrap;
}
.treating-all-skin6 {
  position: absolute;
  height: 7.62%;
  width: 37.92%;
  top: 37.21%;
  left: 5.42%;
  font-size: var(--headings-h5-bold-18-size);
  line-height: 39px;
  font-weight: 500;
  color: var(--color-darkslategray);
  display: inline-block;
}
.httpswwwfurniturevibecom,
.live-website {
  position: absolute;
  top: 549px;
  left: 78px;
  line-height: 39px;
  font-weight: 500;
}
.httpswwwfurniturevibecom {
  top: 640px;
}
.removebg-preview-1-icon {
  position: absolute;
  top: 746px;
  left: 65px;
  width: 58px;
  height: 59px;
  object-fit: cover;
}
.wwwfurniturevibecom {
  position: absolute;
  top: 756px;
  left: 187px;
  font-size: var(--font-size-9xl);
  line-height: 39px;
  font-weight: 500;
}
.removebg-preview-1-icon1 {
  position: absolute;
  top: 825px;
  left: 65px;
  width: 58px;
  height: 69px;
  object-fit: cover;
}
.httpswwwfurniturvibecomr {
  position: absolute;
  top: 840px;
  left: 181px;
  font-size: var(--font-size-9xl);
  line-height: 39px;
  font-weight: 500;
}
.deskop-7 {
  width: 100%;
  position: relative;
  background-color: #dfe9f4;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--primary-color);
  font-family: var(--font-montserrat);
}
